{{#if cart.items}}
<h1 class="text-center mt-4">{{#if totalPrice}}以下是您購物袋內的商品 NT${{totalPrice}}{{/if}}</h1>
<div class="mx-auto my-5" style="width: 90%;">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">商品</th>
        <th scope="col">價格</th>
        <th scope="col">數量</th>
        <th scope="col">小計</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each cart.items}}
      <tr>
        <td>
          <div>
            <img src="{{this.image}}" class="card-img" alt="..." style="height: 100px;width: auto;">
            <span class="ml-3">{{this.name}}</span>
          </div>
        </td>
        <td>
          <div>$ {{this.price}}</div>
        </td>
        <td class="">
          <div class="d-flex justify-content-center align-items-center">
            <form action="/cartItem/{{this.CartItem.id}}/add" method="POST">
              <button type="submit" class="btn btn-sm btn-outline-secondary">+</button>
            </form>
            <span style="margin: 0 20px;">
              {{this.CartItem.quantity}}
            </span>
            <form action="/cartItem/{{this.CartItem.id}}/sub" method="POST">
              <button type="submit" class="btn btn-sm btn-outline-secondary">-</button>
            </form>
          </div>
        </td>
        <td>{{this.price}} * {{this.CartItem.quantity}}</td>
        <td>
          <form action="/cartItem/{{this.CartItem.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-link">
              <i class="fas fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
      <tr>
        <td></td>
        <td></td>
        <td style="text-align: right;">
          <h2>你的總金額 </h2>
        </td>
        <td>
          <h2>NT${{totalPrice}}</h2>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex flex-column align-items-center mb-5">
  <h1 class="text-center my-5">請您填寫下列收件人資訊。</h1>
  <form action="/order" method="POST">
    <div class="d-flex flex-column px-5">
      <div class="user-order-info-upper d-flex justify-content-around">
        <div class="form-group mr-3">
          <label for="name">姓名</label>
          <input required type="text" class="form-control" id="name" placeholder="Enter name" name="name">
        </div>
        <div class="form-group ml-3">
          <label for="phone">電話</label>
          <input required type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone">
        </div>
      </div>
      <div class="form-group">
        <label for="address">地址</label>
        <input required type="text" class="form-control" id="address" placeholder="Enter address" name="address">
      </div>
      <input type="hidden" name="cartId" value="{{cart.id}}">
      <input type="hidden" name="amount" value="{{totalPrice}}">
      <input type="hidden" name="shipping_status" value="0">
      <input type="hidden" name="payment_status" value="0">
      <button type="submit" class="btn cart-post-order-btn my-4">Submit</button>
    </div>
  </form>
</div>

{{else}}
{{> empty}}
{{/if}}