{{#if orders}}
<h1 class="text-center mt-4">以下是您的訂單內容</h1>
{{#each orders}}
<div class="d-flex flex-column align-items-center my-5">
  <div class="col-10">
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">quantity</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.items}}
        <tr>
          <td><img src="{{this.dataValues.image}}" class="card-img mr-4" alt="..."
              style="height: 100px;width: auto;">{{this.dataValues.name}}</td>
          <td>{{this.dataValues.OrderItem.dataValues.quantity}}</td>
          <td>{{this.dataValues.price}}</td>
        </tr>
        {{/each}}
        <tr>
          <td></td>
          <td style="text-align: right;">
            <h4>總金額 </h4>
          </td>
          <td>
            <h4>NT${{this.amount}}</h4>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-10">
    <ul>
      {{#ifCond this.payment_status '1'}}<li>訂單編號： {{this.sn}}</li>{{/ifCond}}
      <li>姓名： {{this.name}}</li>
      <li>電話號碼： {{this.phone}}</li>
      <li>地址： {{this.address}}</li>
      <li>運送狀況：
        {{#ifCond this.payment_status '0'}}尚未付款{{/ifCond}}
        {{#ifCond this.payment_status '1'}}正在處理{{/ifCond}}
      </li>
      <li>付款狀況：
        {{#ifCond this.payment_status '0'}}尚未付款{{/ifCond}}
        {{#ifCond this.payment_status '1'}}付款成功{{/ifCond}}
      </li>
    </ul>

    <div style="display: flex; justify-content: space-around;min-width: 300px;">
      <form action="/order/{{this.id}}/cancel" method="POST">
        <button type="submit" class="btn order-cancel-btn px-5 py-3">取消訂單</button>
      </form>
      <a href="/order/{{this.id}}/payment">
        <button class="btn payment-btn px-5 py-3">繼續前往付款</button>
      </a>
    </div>
  </div>

</div>
<hr />
{{/each}}

{{else}}
{{> empty}}
{{/if}}