{{!-- without Redis --}}
{{#if products.rows}}
<div class="row my-5 d-flex justify-content-center">
  <div class="col-md-10">
    <div class="row">
      {{#each products.rows}}
      <div class="col-sm-4 col-md-4 col-lg-3">
        <div class="card mb-4 shadow-sm" style="height:420px">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src={{this.image}}></img>
          <div class="card-body">
            <p class="card-text">
            <h4><a href="/products/{{this.id}}">{{this.id}} {{this.name}}</a></h4>
            <span>{{this.description}}</span>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">$ {{this.price}}</small>
              <div class="btn-group">
                <form action="/cart" method="POST">
                  <input type="hidden" name="productId" value="{{this.id}}">
                  <button type="submit" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>

{{else}}
{{!-- with Redis --}}
<div class="row">
  <div class="col-md-9">
    <div class="row">
      {{#each products}}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="bd-placeholder-img card-img-top" width="100%" height="225" src={{this.image}}></img>
          <div class="card-body">
            <p class="card-text">
            <h4><a href="/products/{{this.id}}">{{this.id}} {{this.name}}</a></h4>
            <span>{{this.description}}</span>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">$ {{this.price}}</small>
              <div class="btn-group">
                <form action="/cart" method="POST">
                  <input type="hidden" name="productId" value="{{this.id}}">
                  <button type="submit" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>

{{/if}}