<div class="col-sm-4 col-md-4 col-lg-3">
  <div class="card mb-4 shadow-sm" style="height:420px">
    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src={{product.image}}></img>
    <div class="card-body">
      <p class="card-text">
      <h4><a href="/products/{{product.id}}">{{product.id}} {{product.name}}</a></h4>
      <span>{{product.description}}</span>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted">$ {{product.price}}</small>
        <div class="btn-group">
          <form action="/cart" method="POST">
            <input type="hidden" name="productId" value="{{product.id}}">
            <button type="submit" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>